// -------------- THEME SWITCHER -------------- //
@mixin dark-appearance {
  filter: invert(1);
  img {
    filter: invert(1);

    &.ioda { filter: invert(0); }
  }
}

body[a="dark"] { @include dark-appearance; }


@media (prefers-color-scheme: dark) {
  body[a="auto"] { @include dark-appearance; }
}
// -------------------------------------------- //

// bg color is also needed in html in order to
// block body's background propagation
// see: https://stackoverflow.com/a/61265706
html, body { background: rgba(248, 249, 251, 1); }

html { height: 100%; }

body {
  color: black;
  font-family: monospace;
  font-size: 16px;
  line-height: 1.4;
  margin: 0;
  min-height: 100%;
  overflow-wrap: break-word;
}

.post-meta { text-align: right; }

h1 {
  text-transform: lowercase;
  color: #2E3440;
}

h2, h3, h4, h5, h6 {
  margin-top: 3rem;
  text-transform: lowercase;
  color: #2E3440;
}

hr {
  margin: 2rem 0;
}

p { margin: 1rem 0; }

li { margin: 0.4rem 0; }

*:target { background: yellow; }

// here are the main panels //

.page-content {
  margin: 50px 25px;
  display: flex;

  .w {
    max-width: 650px;
    margin: 0 auto;
    padding: 4rem 6rem;

    h1 {
      padding: 3px 12px;
      border-radius: .8em;
      max-width: fit-content;
      color: #3f69ac;
      background-color: rgba(62, 116, 202, 0.067);

    }

    a {
      color: #3f69ac;
      max-width: fit-content;
      border-radius: 1em;
      padding: 5px 10px;
      text-decoration: none;
      transition: background-color .2s cubic-bezier(0.11, 0, 0.5, 0) 0s;
    }
    a:hover {
      background-color: rgba(62, 116, 202, 0.067);

    }

    .footnotes p {
      text-indent: 0%;
    }

    p {
      text-align: justify;
      line-height: 1.5;
      text-indent: 7%;
      margin-bottom: 20px;
    }

    .post-meta {
      text-align: end;
      font-size: 1rem;
      font-family: monospace;
    }
  }
  
  .side-panel {
    font-size: .875em;
    max-width: 250px;
    min-width: 250px;
    // border: 1px solid black;
    padding: 15px;
    margin: 0 10px;
    height: fit-content;
    box-shadow: rgba(0, 0, 0, 0.1235) 0px 3px 6px 0px;
    border-radius: .5em;


    a {
      text-decoration: none;
      color: #3f69ac;
      max-width: fit-content;
      border-radius: 1em;
      padding: 5px 10px;
    }

    h1 {
      font-size: 2.175em;
      margin-bottom: 0;
    }

    h1, p {
      padding: 0 10px;
    }

    ul {
      margin-bottom: 15px;
      line-height: 1;
    }

    li {
      margin: 7px 0px;
      line-height: 1;
    }
  }
}

hr {
  text-align: center;
  border: 0;

  &:before { content: '/////' }
  &:after { content: attr(data-content) '/////' }
}

table { width: 100%; }

table, th, td {
  border: thin solid black;
  border-collapse: collapse;
  padding: 0.4rem;
}

code {
  color: white;
  background: black;
}

div.highlighter-rouge code {
  display: block;
  overflow-x: auto;
  white-space: pre-wrap;
  padding: 1rem;
}

blockquote {
  padding: 1rem;
  font-size: .975rem;
  margin: 35px 35px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 6px 0px;
  border-radius: 0.5em;
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}